<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.recipebook">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon2"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_icon2"
        android:supportsRtl="true"
        android:theme="@style/Theme.RecipeBook">
        <activity
            android:name=".activities.AddEditRecipeActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize"></activity>
        <activity android:name=".activities.SettingsActivity" />
        <activity android:name=".activities.LoginActivity" />
        <activity
            android:name=".activities.RecipeDetailsActivity"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />

            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".services.UploadImageToCloudService" />
    </application>

</manifest>